@font-face {
   font-family: "Myriad";
   src: url('MyriadPro-Regular.otf') format('opentype');
}
   
@font-face{
	font-family: "Myriad";
	font-weight: bold;
	src: url('MyriadPro-Bold.otf') format('opentype');
}

@keyframes rainbow {

	0% {background-color: #ff0;}
	12.5% {background-color: #fa0;}
	25% {background-color: #f00;}
	37.5% {background-color: #d0a;}
	50% {background-color: #00f;}
	62.5% {background-color: #0ff;}
	75% {background-color: #0c0;}
	87.5% {background-color: #0f0;}
	100% {background-color: #ff0;}

}

::-webkit-scrollbar {
  width: 0px;
}

body{
	background-image: url("backgroundtile.png");
	background-size: 500px;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	font-family: "Myriad", sans-serif;
	color: white;
}

input#top{
	user-select: none;
	position: fixed;

	left: 50%;
	transform: translate(-50%, 0);

	width: 40%;

	padding-bottom: 0.6%;
	padding-top: 1%;
	top: -2%;

	text-align: center;
	font-size: 2.7vw;
	font-weight: bold;
	font-family: "Myriad";

	background-color: rgba(0, 0, 0, 0.7);
	border: 0.7vw solid #fa0;
	border-radius: 0 0 2vw 2vw;
	color: white;

	z-index: 9999;
}

div#topspacer{
	position: relative;
	float: top;
	height: 5.2vw;

	left: 50%;
	transform: translate(-50%, 0);

	width: 40%;
}

div#add{
	user-select: none;
	position: fixed;
	width: 100px;
	height: 100px;
	font-weight: bold;
	font-size: 90px;
	bottom: 8px;
	right: -16px;
}

div#remove{
	user-select: none;
	position: fixed;
	width: 100px;
	height: 100px;
	font-weight: bold;
	font-size: 60px;
	bottom: 2px;
	left: 40px;
}

div#save{
	user-select: none;
	position: fixed;
	font-size: 55px;
	top: 10px;
	left: 25px;
	opacity: 0.7;
}

div#legend{
	user-select: none;
	position: fixed;
	width: 50px;
	height: 50px;
	top: 25px;
	right: 25px;
	padding: 0px;
	border: 0.35vw solid #fff;
	border-radius: 1vw;

	font-weight: bold;
	text-shadow: 2px 2px #000;

	animation: rainbow 10s linear infinite;

	transition: 0.6s;
}

div#legend:hover{
	animation-play-state: paused;
	width: 300px;
	height: 300px;
	padding: 15px;

	transition: 0.3s;
}

div#legend .legendGenre{
	visibility: hidden;
	font-size: 0px;

	transition: 0.3s;
}

div#legend:hover .legendGenre{
	visibility: visible;
	font-size: 36px;

	transition: 0.3s;
}

span#legendPlatformer{
	color: #ff0;
}

span#legendAdventure{
	color: #f00;
}

span#legendOpenworld{
	color: #0c0;
}

span#legendShooter{
	color: #d0a;
}

span#legendPuzzle{
	color: #0ff;
}

span#legendRacing{
	color: #00f;
}

span#legendMultiplayer{
	color: #fa0;
}

div#formContainer{
	display: none;
	position: fixed;
	width: 700px;
	height: 500px;
	left: 50%;
	top: 5%;
	margin-left: -350px;
	border: 8px solid #fa0;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.95);
	z-index: 999999;
}

div#btnConfirm{
	user-select: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 150px;
	height: 50px;
	border: 5px solid #080;
	border-radius: 30px;
	background-color: rgba(0,0,0,0);
	color: #0a0;
	font-weight: bold;
	text-align: center;
	font-size: 30px;	
}

div#btnCancel{
	user-select: none;
	position: absolute;
	right: 180px;
	bottom: 10px;
	width: 150px;
	height: 50px;
	border: 5px solid #d00;
	border-radius: 30px;
	background-color: rgba(0,0,0,0);
	color: #f00;
	font-weight: bold;
	text-align: center;
	font-size: 30px;	
}

img#gameImage{
	user-select: none;
	position: absolute;
	left: 25px;
	top: 25px;
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

div#addImage{
	user-select: none;
	position: absolute;
	left: 20px;
	top: 20px;
	width: 150px;
	height: 150px;
	border: 5px solid #fff;
	border-radius: 20px;
}

label#addImageLabel{
	position: relative;
	top: 38%;
	left: 15%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

input#gameName{
	position: absolute;
	right: 30px;
	top: 65px;
	height: 50px;
	width: 450px;
	border: 5px solid rgba(255, 255, 255, 1);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-family: "Myriad", sans-serif;
	font-size: 26px;
	text-align: center;
}

input#gameDescription1{
	position: absolute;
	left: 20px;
	top: 230px;
	height: 45px;
	width: 650px;
	border: 5px solid rgba(255, 255, 255, 1);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-family: "Myriad", sans-serif;
	font-size: 24px;
	text-align: center;
}

input#gameDescription2{
	position: absolute;
	left: 20px;
	top: 320px;
	height: 45px;
	width: 650px;
	border: 5px solid rgba(255, 255, 255, 1);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-family: "Myriad", sans-serif;
	font-size: 24px;
	text-align: center;
}

select#gameGenre{
	position: absolute;
	padding-left: 7px;
	left: 365px;
	top: 150px;
	height: 50px;
	width: 160px;
	border: 4px solid rgba(255, 255, 255, 1);
	border-radius: 15px;
	background-color: #ff0;
	color: black;
	font-family: "Myriad", sans-serif;
	font-size: 24px;
}

/*Gömmer blåa outlines när man är 'fokuserad' på olika inputs (textrutor, knappar etc.)*/
*:focus {outline:none !important}

ol{
	margin: 0px;
	padding: 0px;
}

ol li{
	counter-increment: list;
	position: relative;
	list-style-type: none;
    cursor: s-resize;
    width: 35%;
	left: 50%;
	transform: translate(-50%, 0);
    margin-top: 10px;
}

ol li:before{
	position: absolute;
	content: counter(list);
	font-weight: bold;
	font-size: 18px;
	right: 8px;
	bottom: 2px;
	z-index: 9900;
}

img.icon{
	position: relative;
	vertical-align: bottom;
	width: 70px;
	height: 70px;
	padding: 5px;
}

span.game{
	position: absolute;
	top: 7px;
	width: 83%;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

span.desc{
	position: absolute;
	top: 37px;
	left: 100px;
	font-size: 15px;
}

div.platformer{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #ff0;
	border-radius: 8px;
}

div.adventure{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #f00;
	border-radius: 8px;
}


div.openworld{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #0c0;
	border-radius: 8px;
}

div.shooter{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #d0a;
	border-radius: 8px;
}

div.puzzle{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #0ff;
	border-radius: 8px;
}

div.racing{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #00f;
	border-radius: 8px;
}

div.multiplayer{
	position: relative;
	float: top;
	background-color: rgba(0, 0, 0, 0.5);
	border: 5px solid #fa0;
	border-radius: 8px;
}
